html,body,#app { height: 100%; margin: 0px; padding: 0px; overflow: hidden;}
#full { height: 100% }
div#index-1{
    position: relative;
}
nav {
    position: absolute;
    top: 0;
    right: 0;
}
.nav-router {
    position: absolute;
    bottom: 0;
    right: 0;
}
div#full.index-1 {
    background: rgba(225,4,52,1);
    background: -moz-linear-gradient(-45deg, rgba(225,4,52,1) 0%, rgba(195,10,69,1) 49%, rgba(189,11,72,1) 58%, rgba(160,17,88,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(225,4,52,1)), color-stop(49%, rgba(195,10,69,1)), color-stop(58%, rgba(189,11,72,1)), color-stop(100%, rgba(160,17,88,1)));
    background: -webkit-linear-gradient(-45deg, rgba(225,4,52,1) 0%, rgba(195,10,69,1) 49%, rgba(189,11,72,1) 58%, rgba(160,17,88,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(225,4,52,1) 0%, rgba(195,10,69,1) 49%, rgba(189,11,72,1) 58%, rgba(160,17,88,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(225,4,52,1) 0%, rgba(195,10,69,1) 49%, rgba(189,11,72,1) 58%, rgba(160,17,88,1) 100%);
    background: linear-gradient(135deg, rgba(225,4,52,1) 0%, rgba(195,10,69,1) 49%, rgba(189,11,72,1) 58%, rgba(160,17,88,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e10434', endColorstr='#a01158', GradientType=1 );
}
.title-2 {
    color: #8c273d;
    padding-left: 30px;
    margin-top: 0;
    display: inline-block;
}
.title-2 h2{
    margin-top: 15px;
}
.content-next  {
    position: absolute;
    bottom: 0;
    right: 0;
}
 
.background-line {
    position: relative;
    height: 100%;
}
.background-line img{
    position: absolute; 
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
    border-style: none;
}

.context-center-align h1 {
    color: #ffff;
    font-size: 73px;
}

 
.divider {
    width: 147px;
    height: 7px;
    background: #8c273d;
}
.full-absolute{
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
 
img.img-fluid.bg-absolute {
    height: 100%;
    width: 100%;
}
aside.v-navigation-drawer.v-navigation-drawer--absolute.v-navigation-drawer--open.v-navigation-drawer--right.theme--dark {
    z-index: 3;
}

.tab-nav-minga.v-card.v-sheet {
    z-index: 9;
    border-radius: 15px 0px 0px 15px !important;
}

.full-absolute img{
    position: absolute; 
    margin: 0 auto;
    left: 0;
    right: 0;
}
 
.theme--dark.v-tabs>.v-tabs-bar {
    background-color: #cc093b !important;
}

.nav-top {
     position: absolute; 
    right: 0;
    top: 0;
    z-index: 999;
    max-width: 50%;
    float: right;
}
.nav-tematic {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}
.tab-nav-minga.v-card.v-sheet .v-tabs-bar {
    border-radius: inherit;
    height: 30px !important;
}
.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
    background-color: #cc093b !important;
    outline: none;
}

.theme--light.v-tabs-items {
    background-color: #fff;
    height: calc(100vh);
}

.v-window-item { 
    height: calc(100vh);
}

video#ad-video {
    height: 100%;
    background: transparent;
}
video#ad-video.v-overside {
    max-width: 67vh;
    margin: 0 auto;
}
video#ad-video.p-push {
    max-width: 50vh;
    margin: 0 auto;
}
video#ad-video.p-itt {
    max-width: 68vh;
    margin: 0 auto;
} 
.v-item-group.theme--dark.v-slide-group.v-tabs-bar.v-tabs-bar--show-arrows.white--text.primary {
    overflow: hidden;
}

.full-absolute-format {
    position: relative;
    max-width: 1224px;
    width: 100%;
    height: 100%;
}
 

.video-js.vjs-fluid, .video-js.vjs-16-9, .video-js.vjs-4-3 {
    width: 100%;
    max-width: 100%;
    height: 0;
    background: transparent;
}
.full-absolute img.aos-init.aos-animate, .full-absolute img.img-fluid {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
} 
.v-speed-dial.v-speed-dial--bottom.v-speed-dial--left.v-speed-dial--absolute.v-speed-dial--direction-left button {
    margin-right: 10px;
}
.v-slide-group__next.v-slide-group__next--disabled, .v-slide-group__prev.v-slide-group__prev--disabled {
    opacity: 0.5;
}
body {
    overflow: hidden;
}
img.img-fluid.bg-data {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.video-absolute {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 450px;
    transform: translateY(-50%);
    top: 50%;
}

a.v-btn.v-btn--contained.v-btn--router.theme--light.v-size--default {
    text-decoration: none;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1024) {
    .full-absolute-format {
        position: relative;
        max-width: 1024;
        width: 100%;
        height: 100%;
    }    
    .video-absolute {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 430px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 54%;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (max-width : 1224px) {
    .full-absolute-format {
        position: relative;
        max-width: 1224px;
        width: 100%;
        height: 100%;
    }  
    .video-absolute {
        position: absolute;
        right: 0;
        bottom: 0;
        max-width: 488px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 54%;
    }
}

/* Large screens ----------- */
 @media only screen and (min-width : 1824px) {
    .full-absolute-format {
        position: relative;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .video-absolute {
        position: absolute;
        right: 70px;
        bottom: 0;
        max-width: 700px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        top: 54%;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
        max-height: 100vh;
    }
    
}
